html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.teamMate h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
}

.teamMate p {
    margin: 0;
}

.teamMate img {
    display: inline-block;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.details {
    display: inline-block;
    vertical-align: top;
}
