@model IEnumerable<Job>

@(Html.Kendo().Grid(Model)
    .Name("Jobs")
    .Columns(columns =>
    {
        columns.Bound(p => p.Title).Title("İşin Adı");
        columns.Bound(p => p.DueDate).Title("Bildirim Tarihi");
        columns.Bound(p => p.FinishDate).Title("Çözüm Tarihi");
        columns.Bound(p => p.Owner).Title("İşin Sahibi");
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);

    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("Create");
        toolbar.ClientTemplate("<a class='k-button k-grid-even' href='" + @Url.Action("Create", "Job") + "'><span class='k-icon k-i-plus'></span> Create</a>");
    })
    .Pageable()
    .Navigatable()
    .Sortable()
    .Editable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Model(model => model.Id(p => p.JobId))
        .Destroy("Jobs_Destroy", "Job")
        .Update("Jobs_Update", "Job")
     )
)